/* styles.css */
body {
    width: 100%;
    min-height: 800px;
    font-family: Arial, sans-serif;
    background-color: silver;
    background-image: url(h1.png) ;
    background-size:cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: visible;
    
}

.container {
    width: 100%;
    max-width: 400px;
    max-height: 800px;
    margin: 20px;
    padding: 20px;
    background-color:purple;
    border-radius:10px;
    overflow-y: visible;
    box-shadow: 0 0 10px rgba(108, 2, 97, 0.1);
    background: rgba( 255, 255, 255, 0.3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="textbox"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 3px;
    margin-bottom: 3px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}
label{
    color: white;
    padding: 3px;
    margin-top: 10px;
    
}
h2{
    color: goldenrod;
}

button {
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    color: white;
}

a {
    color: #a2baea;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .container {
        margin: 10px;
        padding: 15px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"] {
        padding: 8px;
    }

    button {
        padding: 8px;
    }
}
